.status-icon-scheduled {
  background-position: 0 -80px;
}
.status-icon-expired {
  background-position: 0 -128px;
}

.cms table.ss-gridfield-table tr td .btn-icon-sprite {
  width: 16px;
  height: 16px;
  display: block;
  float: left;
  margin-right: 6px;
}